.section__header 
	.container
		.header__decs 
			img.header__decs__logo(src="img/svg/logo.svg", alt="logo")
			.header__decs__name
				!= 'Географический  факультет  МГУ имени  <span>М.В.Ломоносова</span>'
		.header__other
			.header__other__dates 
				.header__other__date 12 сентября /
				.header__other__week верхняя неделя
			.header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			.header__other__soc
				a.header__other__soc__icon
					img(src="img/svg/tg.svg", alt="icon")
				a.header__other__soc__icon
					img(src="img/svg/vk.svg", alt="icon")
				a.header__other__soc__icon
					img(src="img/svg/youtube.svg", alt="icon")
			.header__other__lang ENG
		.header__other__mob 
			a.header__other__search 
				img(src="img/svg/header__other__search.svg", alt="icon")
			a.header__other__humb
				img(src="img/svg/humb.svg", alt="icon")


