body {
	overflow-x: hidden;
	background: #000;	
}
.fate {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	width: 100vw;
	height: vw(832);
	@media (max-width: 875px) {
		height: vw2(800);
	}	
	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		min-height: vw(756);
		width: vw(1280);
		background-image: url(../img/bg__1.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		@media (max-width: 875px) {
			background-image: none;
			min-height: vw2(800);
		}
		
		&__bg2 {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			z-index: 0;
			height: vw(743);
			width: vw(1280);
			background-image: url(../img/bg__2.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 3s;
			animation-delay: 2s;
			@media (max-width: 875px) {
				background-size: cover;
				height: vw2(743);
			}
		}
		&__bg3 {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			z-index: 0;
			height: vw(756);
			width: vw(1280);
			background-image: url(../img/bg__3.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 3s;
			animation-delay: 1s;
			@media (max-width: 875px) {
				background-size: cover;
				height: vw2(800);
			}
		}
		&__card {
			position: absolute;
			z-index: 3;
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 3s;
			animation-delay: 3s;
			&--one {
				top: 0;
				left: vw(90);
				@media (max-width: 875px) { 
					width: vw2(100);
					height: vw2(129);
					top: vw2(186);
					left: vw2(44);
				}
			}
			&--two {
				bottom: 0;
				right: vw(50);
				@media (max-width: 875px) {
					width: vw2(145);
					height: vw2(194);
					right: vw2(36);
					bottom: vw2(98);
				}
			}
		}
		&--logo {
			position: absolute;
			top: vw(80);
			left: 50%;
			transform: translateX(-50%);
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 1s;
			animation-delay: 0.5s;
			width: vw(153);
			@media (max-width: 875px) { 
				top: vw2(60);
				width: vw2(153);
			}
			img{
				width: 100%;
			}
		}
		&--cinema {
			position: absolute;
			bottom: vw(80);
			left: 50%;
			transform: translateX(-50%);
			width: vw(110);
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 1.5s;
			animation-delay: 0.5s;
			@media (max-width: 875px) {
				bottom: vw2(40);
				width: vw2(110);
			}
			img{
				width: 100%;
			}
		}
		&--button{
			&.active{
				animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation-duration: 1.5s;
				animation-delay: 3s;
			}
		}
		&--title {
			position: relative;
			width: 100%;
			display: none;
			max-width: vw(484);
			font-family: 'Kudriashov';
			font-style: normal;
			justify-content: center;
			align-items: flex-start;
			font-weight: 700;
			font-size: vw(30);
			line-height: 136%;
			text-align: center;			
			color: #FFFFFF;
			margin-bottom: vw(42);
			@media (max-width: 875px) { 
				font-size: vw2(30);
				line-height: 1.12;
				margin-bottom: vw2(42);
				width: vw2(336);
				max-width: vw2(336);
			}
		}
		&--quote {
			position: relative;
			display: none;
			width: 100%;
			justify-content: center;
			align-items: flex-end;
			max-width: vw(504);
			font-family: 'HarmoniaSansProCyr';
			font-style: normal;
			font-weight: 700;
			font-size: vw(20);
			line-height: 136%;
			text-align: center;
			margin-bottom: vw(20);
			margin-top: vw(42);
			
			color: #B68253;
			@media (max-width: 875px) { 
				width: vw2(337);
				max-width: vw2(337);
				font-size: vw2(20);
				margin-top: vw2(42);
			}
		}
		&--book {
			position: absolute;
			bottom: vw(130);
			left: calc(50% - 19.6875vw);
			width: 100%;
			display: none;
			max-width: vw(504);
			margin-bottom: vw(20);
			font-family: 'Kudryashev';
			font-style: normal;
			font-weight: 700;
			font-size: vw(15);
			line-height: 136%;
			text-align: center;
			color: #FFFFFF;
			@media (max-width: 875px) { 
				width: vw2(218);
				max-width: 100vw;
				bottom: vw2(80);
				font-size: vw2(15);
				margin-bottom: vw(20);
				padding: 0;
				left: 50%;
				transform: translateX(-50%);
			}			
		}
		&--soc {
			position: absolute;
			bottom: vw(80);
			left: calc(50% - 4.6875vw);
			display: none;
			justify-content: center;
			align-items: center;
			margin-top: vw(18);
			@media (max-width: 875px) {
				bottom: vw2(47);
				left: 50%;
				transform: translateX(-50%);
				margin-top: vw2(18);
			}
			&__item {
				display: flex;
				justify-content: center;
				align-items: center;
				width: vw(32);
				height: vw(32);
				border-radius: vw(50);
				background: #B68253;
				margin-right: vw(12);
				@media (max-width: 875px) {
					width: vw2(32);
					height: vw2(32);
					border-radius: vw2(50);
					margin-right: vw2(12);
				}
				&:last-child {
					margin-right: 0;
					@media (max-width: 875px) {
						margin-right: 0;
					}
				}
				img{
					width: vw(22);
					height: vw(20);
					object-fit: contain;
					@media (max-width: 875px) {
						width: vw2(22);
						height: vw2(20);
					}
				}
			}
		}
	}


}
.fate__content--title.activeText {
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-duration: 3s;
	animation-delay: 1s;
}
.fate__content--quote.activeText {
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-duration: 3s;
	animation-delay: 2s;
}
.fate__content.active {
	.fate__content__card {
		display: none;
	}
	.fate__content__bg2 {
		display: block;
		@media (max-width: 875px) {
			display: none;
		}
	}
	.fate__content__bg3 {
		display: block;
		@media (max-width: 875px) {
			background-image: url(../img/bg__3--mob.png);
			background-position: top right;
			background-size: contain;
		}
	}
	.fate__content--title {
		display: flex;
	}
	.fate__content--quote {
		display: flex;
	}
	.fate__content--book {
		display: block;
		&.active{
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 3s;
			animation-delay: 2s;
		}
	}
	.fate__content--soc {
		display: flex;
		&.active{
			animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation-duration: 1.5s;
			animation-delay: 3s;
		}
	}
	.fate__content--cinema {
		display: none;
	}
}
.button[disabled]{
	pointer-events:none;
}
.button {
	position: relative;
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #B68253;
	padding: vw(17) vw(45);
	margin-left: vw(33);
	margin-right: vw(33);
	font-family: 'Kudriashov';
	font-style: normal;
	font-weight: 700;
	font-size: vw(20);
	line-height: 136%;
	width: 100%;
	max-width: vw(346);
	text-transform: uppercase;
	font-weight: 600;
	border-radius: vw(12);
	text-align: center;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	@media (max-width: 875px) {
		width: vw2(289);
		padding: vw2(17) vw2(45);
		margin-left: auto;
		margin-right: auto;
		font-size: vw2(20);
		max-width: vw2(346);
		border-radius: vw2(12);
	}
	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
		background-color: lighten(#B68253, 5%);
		&::after {
			opacity: .22;
		}
	}
	&:active {
		background-color: darken(#B68253, 5%);
		&::after {
			opacity: .32
		}
	}
}
@keyframes slide-in-fwd-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

